@import "fonts";
@import "nullstyle";

body {
   width: 3598px;
   height: 2000px;
   background-color: #e7e1da;

   header {
      width: 3598px;
      height: 230px;
      border: solid 1px #393733;

      .header__container {
         .header__item-img {
            width: 80px;
            height: 80px;
            margin: 70px 0px 80px 74px;
         }

         .header__item-ul {
            display: flex;
            font-family: "STIX Two Text", serif;
            font-size: 49.5px;
            font-weight: normal;
            font-stretch: normal;
            font-style: italic;
            line-height: 0.66;
            letter-spacing: -0.5px;
            text-align: left;
            color: #393733;
            gap: 90px;
            transform: translate(308px, -118.7px);


            .header__item-home {
               border-bottom: 2px solid black;
               padding-bottom: 5px;
            }

            .header__item-about {}

            .header__item-catalogue {}

            .header__item-contactus {}
         }

         .header__item-bottombox {
            display: flex;
            justify-content: flex-end;
            transform: translate(-238px, -213px);

            .header__item-bottom {
               width: 297px;
               height: 107px;
               border: solid 1px #393733;
               padding: 40px 30px 30px 42px;
               background-color: #e7e1da;
               transition-duration: 1s;

               &:active {
                  transition-duration: 1s;
                  background-color: #e7e1da;
                  color: rgb(245, 222, 92);
               }


               .span__bottom {
                  display: inline-block;
                  width: 237px;
                  height: 39px;
                  font-family: "STIX Two Text", sans-serif;
                  font-size: 43px;
                  font-weight: normal;
                  font-stretch: normal;
                  font-style: italic;
                  line-height: 0.65;
                  letter-spacing: -0.43px;
                  text-align: left;
                  color: #393733;
                  transition-duration: 1s;

                  &:active {
                     transition-duration: 1s;
                     color: rgb(245, 222, 92);
                  }
               }
            }
         }

      }
   }

   main {
      .main__container {
         border-bottom: solid 0.8px #393733;
         height: 1630px;



         .main__text-e {
            transform: translate(267px, 948px);

            .main__span-e {
               display: inline-block;
               font-family: "Cardo", sans-serif;
               font-size: 50px;
               font-weight: normal;
               font-stretch: normal;
               font-style: normal;
               line-height: 0.76;
               letter-spacing: -0.5px;
               text-align: left;
               color: #393733;
            }
         }

         .main__bottom {
            transform: translate(264px, 560px);
            width: 359px;
            height: 122px;
            border: 1px solid black;
            background-color: #e7e1da;
            transition-duration: 1s;

            &:active {
               transition-duration: 1s;
               background-color: #988269;
               color: rgb(245, 222, 92);
            }

            .main__span-bottom {
               font-family: "STIX Two Text", sans-serif;
               font-size: 49.5px;
               font-weight: normal;
               font-stretch: normal;
               font-style: italic;
               line-height: 0.66;
               letter-spacing: -0.5px;
               text-align: left;
               color: #393733;

               &:active {
                  transition-duration: 1s;
                  color: rgb(245, 222, 92);
               }
            }
         }

         .main__item-img {
            display: flex;
            justify-content: flex-end;



            .img {
               width: 1334px;
               height: 1632px;
               border-left: solid 0.8px #393733;
               border-right: solid 0.8px #393733;
               margin-right: 316px;
               transform: translate(0px, -636px);
            }
         }
      }

      .main__h1 {
         h1 {
            display: inline-block;
            transform: translate(271px, 381px);
            font-family: "STIX Two Text", sans-serif;
            font-size: 164.5px;
            font-weight: normal;
            font-stretch: normal;
            font-style: italic;
            line-height: 0.3;
            letter-spacing: -1.65px;
            text-align: left;
            color: #393733;
         }
      }

      .main__3-4container {
         transform: translate(270px, 496px);

         .main__h3 {
            .spanh3 {
               display: inline-block;
               font-family: "Cardo", serif;
               font-size: 52.5px;
               font-weight: bold;
               font-stretch: normal;
               font-style: normal;
               line-height: 1.1;
               letter-spacing: -0.53px;
               text-align: left;
               color: #393733;
            }
         }

         .main__4 {
            width: 1025px;
            height: 348px;


            .h4 {
               display: inline-block;
               transform: translate(0px, 56px);
               font-family: "Cardo", serif;
               font-size: 52.5px;
               font-weight: normal;
               font-stretch: normal;
               font-style: normal;
               line-height: 1.1;
               letter-spacing: -0.53px;
               text-align: left;
               color: #393733;

            }
         }
      }

      .main__year {
         display: flex;
         justify-content: flex-end;
         transform: translate(-58px, -930px);

         .year2022 {
            display: inline-block;
            font-family: "Cardo", serif;
            font-size: 102px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #393733;
            transform: rotate(-90deg);
         }
      }
   }
}